<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Seguindo</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#">Notificações</a>
            </li>

            
            <li class="nav-item" *ngIf="User != '' " >
                    <a class="nav-link" routerLink="/profile">Perfil</a>
            </li>
            
            <li class="nav-item" *ngIf="User != '' " >
                <a class="nav-link" (click)="click()">Suas Postagens</a>
            </li>


            <li class="nav-item" *ngIf="User == '' ">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>

            <div class="form-inline ml-auto">
                <input class="form-control mr-sm-2" id="search_images" [(ngModel)]="Query" (keydown.enter)="search($event)" type="search" placeholder="Pesquisar" aria-label="Search">
            </div>


        </ul>
        
    </div>
</nav>
