<app-header></app-header>

<h1>Gerencie dados do seu Perfil</h1>


<div  id="cards">

    <div class="col-sm-6 mb-3 mb-sm-0" >
      <div class="card" id="card">
        <div class="card-body">
          <h5 class="card-title">Alterar Informações Gerais</h5>
          <p class="card-text">Altere seu Nome e Sobrenome , Idade e Genêro.</p>
          <a routerLink="/profile/user-data" class="btn btn-primary">Ir Para Alteração</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6" >
      <div class="card" id="card">
        <div class="card-body">
          <h5 class="card-title">Alterar Imagens de Perfil</h5>
          <p class="card-text">Altere sua Imagem de Perfil e Capa.</p>
          <a routerLink="/profile/user-images" class="btn btn-primary">Ir Para Alteração</a>
        </div>
      </div>
    </div>

  </div>